<%- include('partials/header') -%>
<!-- OLD FEED PAGE -->
  <!-- <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>   -->
  <!-- NEW SELECTION PAGE -->
  <!-- Quiz Addition -->
  <div class="grid">
    <div id="quiz" class="centered grid__col--8">
        <h1>Trick Quiz</h1>

        <h2 id="question" class="headline-secondary--grouped"></h2>
        <h3 id="score"></h3>

        <p id="choice0"></p>
        <button id="guess0" class="btn--default">Select Answer</button>

        <p id="choice1"></p>
        <button id="guess1" class="btn--default">Select Answer</button>
        <p id="choice2"></p>
        <button id="guess2" class="btn--default">Select Answer</button>
        <p id="choice3"></p>
        <button id="guess3" class="btn--default">Select Answer</button>
        <footer>
            <!-- <p id="progress">Question x of y</p>
            <p>Made with javascript, html5, and css! Plus love. -Jason Chan</p>
            <a href="http://referrals.trhou.se/jasonchan2">Click Here To learn Code!</a> -->
        </footer>
    </div>
</div>
<!-- Skill Selection -->
  <div class='peanut' include="form-input-select()">
    <select required onchange="location = this.value">
      
      <option value=""
              hidden
      >Skill Level</option>
 
      <!-- normal options -->

      <option value="/start">Just Starting(1)</option>
      <option value="/beginner">Beginner(2)</option>
      <option value="/intermediate">Intermediate(3)</option>
      <option value="/gnarly">Gnarly(4)</option>
      
    </select>
  </div>
  
  
  
<%- include('partials/footer') -%>