<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
    <!-- DROPPED IN  -->
    <div class='header'>
        <a href='#' class='title'>HISTO.</a>
        <a href='#'>ABOUT</a>
        <a href='#'>BLOG</a>
        <a href='#'>PRICING</a>
        <a href='#'>HOME</a>
      </div>
      
      <div class='jumbo'>
        <div class='text'>
          <a class='title'>THE NOTES<br>YOU NEED.</a>
          <a class='description'>History notes,<br>done differently,<br>done smartly.</a>
          <button>Get Started</button>
        </div>
        <div class='img'>
          <img src='https://image.flaticon.com/icons/svg/1373/1373365.svg'>
        </div>
      </div>
      
      <div class='section'>
        <a class='big'>WHAT WE'RE ABOUT</a>
        <a class='small'>We at <span>HISTO.</span> seek to revolutionise study notes in tertiary history education, by redesigning the flow of information and the fashion of its output.</a>
        <button>Learn More</button>
      </div>
      
      <div class='image'>
        <img src='https://i.ibb.co/dPhc2tM/DIFFERENT.png'>
      </div>
      
      <div class='socials'>
        <a href='#'><img src='https://image.flaticon.com/icons/png/512/23/23931.png'></a>
        <a href='#'><img src='https://image.flaticon.com/icons/png/512/34/34103.png'></a>
        <a href='#'><img src='https://papamoabeach.co.nz/wp-content/uploads/2017/03/instagram-icon-black.png'></a>
      </div>
      
      <div class='footer'>
        <a>2019 🧩 HISTO.</a>
      </div>
      
</main>
    

<%- include('partials/footer') -%>