<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary">Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
    <!-- DROPPED IN  -->
    <div class='header'>
        <a href='#' class='title'>Skate Trick Suggestor</a>
        <a href='#'>ABOUT</a>
        
      </div>
      
      <div class='jumbo'>
        <div class='text'>
          <a class='title'>THE TRICKS<br>YOU WANT TO LEARN.</a>
          <a class='description'>Keep track,<br>get suggestions,<br>learn more tricks.</a>
          <a class="button" href="/signup"><button>Get Started</button></a>
          
          
        </div>
        <div class='img'>
          <img src='https://t4.ftcdn.net/jpg/03/35/20/35/240_F_335203546_8TYbjfxVETwwavS0gUNa0P5aKXyrAVq8.jpg'>
        </div>
      </div>
      
      <div class='section'>
        <a class='big'>WHAT WE'RE ABOUT</a>
        <a class='small'>The <span>Trick Suggestor</span> allows one to keep up with their last learned trick and get suggestions on a new one to learn based on their trick history.</a>
        <button>Learn More</button>
        
      </div>
      
      <!-- <div class='image'>
        <img src='https://i.ibb.co/dPhc2tM/DIFFERENT.png'>
      </div> -->
      
      <!-- <div class='socials'>
        <a href='#'><img src='https://image.flaticon.com/icons/png/512/23/23931.png'></a>
        <a href='#'><img src='https://image.flaticon.com/icons/png/512/34/34103.png'></a>
        <a href='#'><img src='https://papamoabeach.co.nz/wp-content/uploads/2017/03/instagram-icon-black.png'></a>
      </div>
       -->
      <div class='footer'>
        <a>2021 Elliott Watson.</a>
      </div>
      
</main>
    

<%- include('partials/footer') -%>