<div class='peanut' include="form-input-select()">
    <select required onchange="location = this.value">
      <!--
        This is how we can do "placeholder" options.
        note: "required" attribute is on the select
      -->
      <option value=""
              hidden
      >Skill Level</option>
 
      <!-- normal options -->

      <option value="/start">Just Starting</option>
      <option value="beginner.ejs">Beginner</option>
      <option value="intermediate.ejs">Intermediate</option>
      <option value="gnarly.ejs">Gnarly</option>
      
    </select>
  </div>
  
  
  
<%- include('partials/footer') -%>