

/* dropped in below */
@import url('https://fonts.googleapis.com/css?family=Righteous|Unica+One|Nixie+One&display=swap');
 html, body {
	 margin: 0px;
	 height: 100%;
	 width: 100%;
	 font-family: 'Nixie One';
	 color: #242830;
}
 a {
	 text-decoration: none;
	 color: #242830;
}
/* header */
.top{
	font-size: 3.5em;
	font-family: 'Righteous';
	font-weight: bold;
}
.btn{
	background-color: rgb(20, 20, 20);
	margin: 2rem;
	width: 13%;
	margin-left: 5em;
	margin-right: 5em;
}
.feedbtn{
	background-color: rgb(20, 20, 20);
	margin: 2rem;
	width: 30%;
	margin-left: 5em;
	margin-right: 5em;
}

.row{
	width: 100%;

}
 .header {
	 padding-left: 100px;
	 padding-right: 100px;
	 padding-top: 50px;
	 padding-bottom: 50px;
	 transition: padding-left 0.5s, padding-right 0.5s;
	 font-size: 2em;
	 font-weight: bold;
	 background-color: rgb(212, 212, 212);
	 border-radius: 15px;
}
 .header a {
	 float: right;
	 font-family: 'Unica One';
}
 .header a:not(.title) {
	 padding-right: 20px;
}

.bigTitle, .header .title {
	 font-size: 25px;
	 font-family: 'Righteous';
	 float: left;
	 font-weight: bold;
}
/* jumbo */
 .jumbo {
	 padding-left: 3em;
	 padding-right: 5em;
	 padding-top: 50px;
	 padding-bottom: 50px;
	 font-size: 3em;
	 font-weight: bold;
	 display: flex;
	 flex-direction: row;
	 transition: padding-left 0.5s, padding-right 0.5s;
}
 .jumbo div {
	 text-align: center;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 padding-left: 3em;
}
 .jumbo .text {
	 width: 35%;
	 text-align: left;
	 background-color: #f9e5b6;
	 padding: 2.5em;
	 border-radius: 10px;
	 display: flex;
	 flex-direction: column;
}
 .jumbo .text .title {
	 font-family: 'Righteous';
	 font-size: 1.1em;
}
 .jumbo .text .description {
	 font-family: 'Nixie One';
	 font-size: .6em;
	 margin-top: 20px;
}
.button, .jumbo .text button {
	 margin-top: 25px;
	 border: none;
	 background: #edc371;
	 width: 150px;
	 font-family: 'Unica One';
	 font-size: 1em;
	 padding: 5px;
	 filter: grayscale(50%);
	 transition: filter 0.3s;
}
.button, .jumbo .text button:hover {
	 filter: grayscale(0%);
}
.button, .jumbo .text button:focus {
	 outline: none;
}
 .jumbo .img {
	 width: 70%;
	 align-items: center;
}
 .jumbo img {
	 width: 100%;
	padding-left: 1.5em;
}
/* section */
 .section {
	 padding-left: 300px;
	 padding-right: 300px;
	 padding-top: 50px;
	 padding-bottom: 50px;
	 display: flex;
	 flex-direction: column;
	 transition: padding-left 0.5s, padding-right 0.5s;
}
 .section .big {
	 font-size: 35px;
	 font-family: 'Righteous';
	 margin-bottom: 25px;
}
 .section .small {
	 font-size: 25px;
	 font-weight: bold;
	 margin-bottom: 25px;
}
 .section span {
	 font-family: 'Righteous';
}
.button, .section button {
	 border: none;
	 background: #f9e5b6;
	 width: 120px;
	 font-family: 'Unica One';
	 font-size: 20px;
	 padding: 5px;
	 filter: grayscale(50%);
	 transition: filter 0.3s;
}
 .button, .section button:hover {
	 filter: grayscale(0%);
}
 .button, .section button:focus {
	 outline: none;
}
/* img */
 /* .image {
	 padding-left: 300px;
	 padding-right: 300px;
	 padding-top: 50px;
	 padding-bottom: 50px;
	 text-align: center;
	 transition: padding-left 0.5s, padding-right 0.5s;
}
 .image img {
	 width: 80%;
} */
/* socials */
 .socials {
	 padding-left: 300px;
	 padding-right: 300px;
	 padding-top: 50px;
	 padding-bottom: 50px;
	 text-align: center;
	 transition: padding-left 0.5s, padding-right 0.5s;
}
 .socials a {
	 opacity: 0.6;
	 padding-left: 30px;
	 padding-right: 30px;
	 transition: padding-left 0.5s, padding-right 0.5s, opacity 0.3s;
}
 .socials a:hover {
	 opacity: 0.8;
}
 .socials img {
	 width: 30px;
	 filter: grayscale(100%);
	 transition: width 0.5s;
}
/* FEED EJS */

[include*="form-input-select()"] {
	color: #000000;
	display: block;
	border-radius: 0;
	box-shadow: none;
	font-size: 1.7em;
	margin-top: 5px;
	margin-bottom: 15px;
	width: 100%;
}
[include*="form-input-select()"]::before, [include*="form-input-select()"]::after {
	content: '';
	display: block;
	position: static;
	pointer-events: none;
	border: 1.2px solid transparent;
	width: 0;
	height: 0;
	right: 16px;
}
[include*="form-input-select()"]::before {
	bottom: 55%;
	border-width: 0 6.5px 8px 6.5px;
	border-bottom-color: #a7a5a5;
}
[include*="form-input-select()"]::after {
	border-width: 8px 6.5px 0 6.5px;
	border-top-color: #a7a5a5;
	top: 55%;
}
/* @-moz-document url-prefix() {
	border-right: 3px solid #e6e6e6;
[include*="form-input-select()"]:hover {
		border-right: 3px solid #005ba6;
   }
} */
[include*="form-input-select()"]:hover select {
	box-shadow: 0 2px 3px rgba(0, 91, 166, 0.1) inset;
	border-color: #005ba6;
}
[include*="form-input-select()"]:hover select:focus {
	outline-color: transparent;
}
[include*="form-input-select()"]:hover::before {
	border-bottom-color: #005ba6;
}
[include*="form-input-select()"]:hover::after {
	border-top-color: #005ba6;
}
[include*="form-input-select()"] select {
	border: 3px solid #9c9b9b;
	border-radius: 0;
	font-weight: 400;
	color: inherit;
	padding: 11px 15px;
	line-height: normal;
	transition: border-color 0.2s ease, outline 0.2s ease;
}
[include*="form-input-select()"] select:focus {
	box-shadow: 0 3px 4px rgba(0, 91, 166, 0.3) inset;
	outline: 3px solid #005ba6;
	outline-offset: -3px;
}
[include*="form-input-select()"] select[disabled], [include*="form-input-select()"] select:disabled {
	opacity: 0.4;
	cursor: not-allowed;
}
[include*="form-input-select()"] select:not(:focus):invalid {
	color: #c7c7c7;
}
.peanut {
	color: rgb(20, 20, 20);
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 3em;
	/* display: flex;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px; */
	
}
/* body div {
	max-width: 16em;
}
html {
	box-sizing: border-box;
} */
/* *, *:before, *:after {
	box-sizing: inherit;
} */

/* footer */
 .footer {
	 padding-left: 300px;
	 padding-right: 300px;
	 padding-top: 50px;
	 padding-bottom: 50px;
	 text-align: center;
	 font-family: 'Unica One';
	 font-size: 20px;
	 transition: padding-left 0.5s, padding-right 0.5s;
}
 

@media only screen and (max-width: 600px) {
	.btn{
		background-color: rgb(20, 20, 20);
		margin: 1rem;
		width: 20%;
		margin-left: 2em;
		margin-right: 2em;
	}
	.header a {
		font-size: .8em;
		font-family: 'Unica One';
		
   }
	.header a:not(.title) {
		width: 100%;
		text-align: center;
		padding-right: 1px;
		background-color: white;
		border-radius: 10%;
   }
	.jumbo {
		width: 100%;
		padding-left: 3em;
		padding-right: 4em;
		font-size: 2em;
		font-weight: bold;
		display: flex;
		flex-direction: row;
		transition: padding-left 0.5s, padding-right 0.5s;
		background-color: #f9e5b6;
   }
   	.jumbo .text {
		width: 100%;
		text-align: left;
		background-color: #f9e5b6;
		/* padding: 2.5em; */
		border-radius: 10px;
		display: flex;
		flex-direction: row;
	
}

	.jumbo .text .description {
		font-family: 'Nixie One';
		font-size: .8em;
		margin-top: 15px;
}
 	.img {
		width: 100%;
		align-items: right;
		position: absolute;
		margin-top: 10em;
		margin-left: 1.07em;
    	/* border: 1px solid red; */
}
	.section {
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 50px;
		padding-bottom: 50px;
		display: flex;
		flex-direction: column;
		transition: padding-left 0.5s, padding-right 0.5s;
}
	.footer {
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: center;
		font-family: 'Unica One';
		font-size: 1em;
		transition: padding-left 0.5s, padding-right 0.5s;
}
  }